.features--blue {

  background-color: @bg-color-intro;
  width: @mobile-width;

}

.white-triangle-features {
  margin-top: 28px;
}

.features__first-info {
  text-align: center;
  color: @white;

}

.features__title-main--first {
  margin-top: 25px;
  margin-bottom: 19px;
}

.features__number,
.features__text {
  .text-basic--white;
}

.features__number-first {
  margin-bottom: 25px;
}

.features__text-first {
  padding-bottom: 45px;
  margin-bottom: 0px;
}


.features__list {
  background-color: @bg-color-body;
  width: @mobile-width;
  margin-left: 0px;
}



.features__wrapper-image {
padding-bottom: 0px;
margin-bottom: 0px;
}

.features__second-info {

 background-color: @bg-color-intro;
 width: @mobile-width;

}

.features__additional {

  background-color: @bg-color-features;
  width: @mobile-width;
}

.advices {
  list-style: none;
  margin-top: 0px;
  padding-left: 22px;
}


//Вот тут вопрос

 /*.advices__item-wrapper {
  display: flex;
}

.advices__title {
  align-self: center;
}
*/

.advices__item-icon--house {
  margin-top: 26px;
}

.advices__title--house {
  padding-left: 10px;
  margin-top: 42px;
}


