.gallery__wrapper {
  margin-top: 22px;
}

.gallery__wrapper-vastness {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.gallery__wrapper-appraisal {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}

.gallery__wrapper-photo {
  margin-bottom: 22px;
}

.gallery__title {
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: @font-base;
}

.gallery__text {
  margin-top: 14px;
  margin-bottom: 0px;
  text-transform: none;
  font-size: 14px;
}

.gallery__number {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  font-weight: bold;

}

.gallery__vegetation,
.gallery__north,
.gallery__bridge {
  margin-top: 22px;
}

