
.page-main__text {
  padding-top: 90px;
}



@media (max-width: 768px) {

.main-photo__header {
  width: @mobile-width;
}

.main-photo__heading {
  font-size: 18px;
}

.main-photo__text-basic {
  font-size: @font-base;
}

.gallery__number {
  font-size: 14px;
}

}

@media (min-width: 768px), handlend and (orientation:landscape) {
  .main-photo__heading {
    font-size: 30px;
    font-weight: bold;
    margin-top: 77px;
  }

}

@media (min-width: 1200px) {

.main-photo__header {
  background-color: #ffffff;
}

}
