.page-main__header {

  background-color: @bg-color-body;
  width: @mobile-width;

}

.page-main__header-wrapper {
  text-align: center;
  margin-top: 46px;
}

.page-main__heading {
  color: @black;
  font-size: 18px;
}



.page-main__text-basic {
  .text-basic;
  margin-top: 40px;
}
