.page-header {

  background-color: @bg-color-body;
  width: @mobile-width;
}



.main-nav__toggle {
width: 23px;
height: 21px;
background: transparent url(../img/icon-menu.svg) no-repeat;
border: none;
cursor: pointer;


}

.page-header__logo {
  cursor: pointer;
  align-content: center;
  margin-left: 110px;
}

.page-header__logo-burger {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: @mobile-width;
  background-color: @white;
  box-shadow: 0px -7px 7px 1px #6d97b1;
}

.burger-menu {
  width: 23px;
  height: 21px;
  margin-left: 65px;
  margin-top: 17px;

}
