.review__form {
  margin-top: 25px;
}

.review {
  width: @mobile-width;
}

.review__title {
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: @font-uppercase;
}

.review__form {
  display: flex;
  flex-direction: column;
}

//Сама форма

.review__name,
.review__surname {
  margin-top: 0px;
  margin-bottom: 20px;
}

.review__name,
.review__surname,
.review__patronymic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review__name input,
.review__surname input,
.review__patronymic input {
  font-size: @font-uppercase;
  flex-grow: 1;
}

.review__name label,
.review__surname label,
.review__patronymic label {
  font-size: @font-base;
}

.review__patronymic {
  margin-bottom: 0px;
}

.review__wrapper-contacts input {
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  padding: 0px;
  margin-left: 15px;
  padding-left: 22px;
  font-weight: bold;

}

.review__wrapper-number {
  margin-top: 25px;
}

//Информация о номере

.review__number,
.review__mail {
  display: flex;
  flex-direction: column;
}

.review__title-number {
  text-align: center;
  margin-bottom: 35px;
}

.review__number label {
  padding-left: 22px;
  margin-bottom: 15px;
  font-size: @font-base;

}

.review__mail label {
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 22px;
  font-size: @font-base;
}
.review__wrapper-number input {
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  padding: 0px;
  font-size: @font-uppercase;
  color: @black;
  padding-left: 22px;
  font-weight: bold;
}

.line-wrapper-mail {
  margin-top: 28px;
}

//Ваше общее впечатление

.review__filter {
  margin-top: 25px;
}

.review__filter-title {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: @font-uppercase;
}

.review__impression  {
  border: none;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.review__radio-list {
  list-style: none;
}

.review__radio-list {
  padding-left: 0px;
  margin-bottom: 27px;
}

.review__radio-item input {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 23px;
}

.review__radio-item label {
  text-transform: none;
  font-size: @font-uppercase;
  font-weight: bold;
}


//Посещенные достопримечательности

.review__attractions {
  margin-bottom: 25px;
}

.attractions-title {
  margin-top: 25px;
  text-align: center;
  font-size: @font-uppercase;
  margin-bottom: 22px;
}

.attractions-item label {
  font-size: @font-uppercase;
  text-transform: none;
  font-weight: bold;
}

.attractions-list {
  list-style: none;
}

.review__attractions-filter {
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.review__list {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-left: 0px;
}

.attractions-item input {
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

//Линия

.review__attractions-line,
.line__emotions-wrapper,
.line-wrapper-mail {
  width: @mobile-width;
}

//Отзыв

.emotions__title {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 0px;
  font-size: @font-uppercase;
  font-weight: bold;
}

.emotions input {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 24px;
  padding: 0px;
  border: none;
  background-color: #f2f2f2;
  width: @mobile-width-container;
  min-height: 160px;
  color: #000000;
}

//Кнопка отзыва

.review__button {
  width: @mobile-width-container;
  height: 58px;
  border: none;
  font-size: 21px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 38px;
}
