@media (max-width: 768px) {

.search-hotel {

  background-color: @bg-color-body;
  width: @mobile-width;

}

.search-hotel__title-index {
  font-size: 21px;
  padding-top: 33px;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;


}

.search-hotel__text {
  align-items: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 32px;
  .text-basic;

}

.button--blue {
background-color: @bg-color-button-form;

}

.search-hotel__button {
  width: 280px;
  height: 58px;
  border: none;
  .font-face;
  text-transform: uppercase;
  font-weight: bold;
  color: @white;
  text-align: center;
  line-height: 58px;
  margin-top: 40px;
  font-size: 21px;
  padding-top: 0px;
  align-items: center;
  margin-bottom: 49px;
  cursor: pointer;
}

.search-hotel__button:hover {
  background-color: @bg-color-button-form--hover;
  border: none;
}

.search-hotel__button:focus {
  outline: none;
}

.search-hotel__button:visited {

  outline: none;
}

.search-hotel__button:active {
  background-color: @bg-color-button-form--active;
  outline: none;
  color: #88b6d1;
}

.search-hotel__title {
  font-size: @font-uppercase;
}

.search-hotel__text-tablet {
  display: none;
}

}

@media (min-width: 768px), handlend and (orientation:landscape) {

  .search-hotel__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .search-hotel__title-index {
    font-size: 30px;
    font-weight: bold;
    margin-top: 58px;
    margin-bottom: 0px;
  }

  .search-hotel__text-mobile {
    display: none;
  }

  .search-hotel__text-tablet {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .search-hotel__button {
    margin-top: 50px;
    margin-bottom: 58px;
    background-color: @bg-color-button-social;
    border: none;
    height: 58px;
    width: 458px;
    color: @white;
    font-size: @font-uppercase-tablet;
    font-weight: bold;
    text-transform: uppercase;
  }

  .search-hotel__button:hover {
    background-color: @bg-color-button-form--hover;
    cursor: pointer;
  }

  .search-hotel__button:active {
    background-color: #5496bd;
    color: #94b9d2;
    border: none;
    outline: none;
  }

.search-hotel__button:focus {
  outline: none;
}

.search-hotel__button:visited {

  outline: none;
}


}

@media (min-width: 1200px) {
 .search-hotel {
   background-color: #ffffff;
 }

}
