.search-hotel {

  background-color: @bg-color-body;
  width: @mobile-width;

}

.button--blue {
background-color: @bg-color-button-form;
}

.search-hotel__button {
  width: 280px;
  height: 58px;
  border: none;
  .font-face;
  text-transform: uppercase;
  font-weight: bold;
  color: @white;
  text-align: center;
  line-height: 58px;
}

.search-hotel__button:hover {
  background-color: @bg-color-button-form--hover;
  border: none;
}

.search-hotel__button:focus {
  outline: none;
}

.search-hotel__button:visited {

  outline: none;
}

.search-hotel__button:active {
  background-color: @bg-color-button-form--active;
  outline: none;
  color: #88b6d1;
}


